<form name="stockCakeForm" ng-submit="stockCakeForm.$valid && saveItem(cake)" ng-show="newCake || ( !newCake && cake._id === activeCakeEditId )">
	<input type="hidden" name="id" ng-model="cake._id" value="{{cake._id}}">
	<input type="hidden" name="type" ng-model="cake.type" value="stock">

	<!-- <pre>{{ newTeamForm | json }}</pre> -->

	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name="name" ng-model="cake.name" class="form-control" placeholder="Name" value="{{ cake.name }}" required>
	</div>

	<div class="form-group">
		<label for="shape">Shape</label>
		<select name="shape" ng-model="cake.shape" class="form-control">
			<option ng-repeat="shape in shapeList" ng-selected="{{cake.shape._id === shape._id}}" value="{{shape._id}}">{{shape.name}}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="icing"> Icing</label>
		<select name="icing" ng-model="cake.icing" class="form-control">
			<option ng-repeat="icing in icingList" ng-selected="{{cake.icing._id === icing._id}}" value="{{icing._id}}">{{icing.name}}</option>
		</select>
	</div>

	<div class="form-group" ng-show="cateName !== 'Shape'">
		<label for="price"> Price</label>
		<input type="number" name="price" ng-model="cake.price" class="form-control" placeholder=" Price" value="{{ cake.price }}" ng-required="cateName !== 'Shape'">
	</div>

	<div class="form-group">
		<label for="mascot"> Description</label>
		<textarea type="text" name="description" ng-model="cake.description" class="form-control" placeholder=" Description" required>{{ cake.description }}</textarea>
	</div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button class="btn btn-default" ng-click="removeForm()">Cancel</button>
</form>