<button ui-sref="adminHome">Back to Admin Home</button>
<button ui-sref="adminStockCakes.outOfStock">Out of Stock Cakes</button>
<h1>Stock Cake List</h1>

<div ng-repeat="cake in cakeList">
	<h1>{{cake.name }} <span>- {{cake.price | currency}}</span></h1>
	<img src="{{cake.image}}" style="float:left;">
    <h5>Shape: {{ cake.shape.name }}</h5>
    <h5>Type: {{ cake.type }}</h5>
    <h5>Quantity: {{ cake.quantity }}</h5>
    <h5>Icing: {{ cake.icing.name }}</h5>
    <h5>Layers: {{ cake.layers.length }}</h5>
    <h5>Layers Flavors: <span ng-repeat="layer in cake.layers">{{ layer.filling.name }}</span></h5>
    
	<button ng-click="showEditCake(cake._id)">Edit</button>
	<button ng-click="deleteCake(cake._id)">Delete</button>
	<admin-cake-form ng-show="!newCake"></admin-cake-form>
</div>
<br/>
<br/>
<button ng-show="!newCake" ng-click="newCake = true">New {{cateName}}</button>

<admin-cake-form></admin-cake-form>