
<div id="theCakeForm">
    <h1> Build a Cake Form</h1>
    <!-- <h1>{{ shapes }}</h1> -->
    <div id="yourCake">
        
        <img id="cakeImg" src="http://cakeexpress.co.in/images/CAKE-BIRTHDAY21.png">
        <p>(We hope you're the type of person who enjoyed alphabet soup.)</p>
        <br>
        <br>

        <p><b>Cake Name</b><p>
        {{cake.name}}
        <br>
        <br>

        <p><b>Number of Layers</b><p>
        {{cake.selectedNumLayers}}
        <br>
        <br>
        <p><b>Cake Shape</b></p>
        {{currentPrices.shape.name}}
        <br>
        <br>
        <p><b>Cake Icing</b></p>
        {{currentPrices.icing.name}}
        <br>
        <br>
        <p><b>Layer 1 Filling (if at all)</b></p>
        {{currentPrices['layers'][0]['filling'].name}}
        <br>
        <br>
        <p><b>Layer 2 Filling (if at all)</b></p>
        {{currentPrices['layers'][1]['filling'].name}}
        <br>
        <br>
        <p><b>Layer 3 Filling (if at all)</b></p>
        {{currentPrices['layers'][2]['filling'].name}}
        <br>
        <br>
        <p><b>Cake Order Quantity</b></p>
        <p>{{cake.numOrdered}}</p>
        <br>
        <br>
        <p><b>Cake Price</b></p>
        <p>${{cake.price}}</p>
        <br>
        <br>



    </div>
        
    <span>Name your creation!</span>
    <error-message ng-show="cake.name.$touched && cake.name.$error.required">
        Cake name is a required field.
    </error-message>
    <error-message ng-show="cake.name.$error.minlength">
        Your cake name needs to be atleast 1 character long.
    </error-message>
    <input ng-model="cake.name" type="text" ng-minlength="1" required name="cakename"><br>

    <span>How Many Layers on your Cake?</span>
    <select ng-model="numLayerSelected" ng-change="update(selectedNumLayers, numLayerSelected)" data-ng-options="num as num for num in numLayers">
        <option value="">Select Number of Layers</option>
    </select>
    {{cake.selectedNumLayers}}

    <br>
    <br>


    <form name="buildCakeForm" ng-submit="storeCake(cake)">

        <!-- check that cake.$valid is true && execute functions on submit above -->
        


 
        <br>
        <span>Shape</span>
        <error-message ng-show="editCardForm.category.$touched && editCardForm.category.$error.required">
            You need to select a category.
        </error-message>
        <select ng-model="cake.shape" ng-change="update('shape', cake.shape)" data-ng-options="shape as shape.name for shape in shapes">
            <option value="">Select Shape</option>
        </select>
        {{currentPrices.shape.name}}
        
        <br>
        <br>

        <span>Icing</span>
        <select ng-model="cake.icing" ng-change="update('icing', cake.icing)" data-ng-options="icing as icing.name for icing in icings">
            <option value="">Select Shape</option>
        </select>
        {{currentPrices.icing.name}}

        <div id="layerOne">
            <br>
            <br>
            <span>Layer One Filling</span>

            <select ng-model="cake.layers[0].filling" ng-change="update('layers', cake.layers[0].filling, '1')" data-ng-options="filling as filling.name for filling in fillings">
                <option value="">Select Filling</option>
            </select>
            {{currentPrices['layers'][0]['filling'].name}}



        </div>
        <div id="layerTwo" style="display: none">
            <br>
            <br>
            <span>Layer Two Filling</span>

            <select ng-model="cake.layers[1].filling" ng-change="update('layers', cake.layers[1].filling, '2')" data-ng-options="filling as filling.name for filling in fillings">
                <option value="">Select Filling</option>
            </select>
            {{currentPrices['layers'][1]['filling'].name}}
        </div>
        <div id="layerThree" style="display: none">
            <br>
            <br>
            <span>Layer Three Filling</span>

            <select ng-model="cake.layers[2].filling" ng-change="update('layers', cake.layers[2].filling, '3')" data-ng-options="filling as filling.name for filling in fillings">
                <option value="">Select Filling</option>
            </select>
            {{currentPrices['layers'][2]['filling'].name}}
        </div>
        <br>
        <br>
    
        <span>How many would you like to order?</span>
        <error-message ng-show="cake.numOrdered.$touched && cake.numOrdered.$error.required">
            Cake numOrdered is a required field.
        </error-message>
        <error-message ng-show="cake.numOrdered.$error.minlength">
            Your cake name needs to be atleast 1 character long.
        </error-message>
        <input ng-model="cake.numOrdered" ng-change="update('numOrdered')" type="text" ng-minlength="1" required name="cakenumOrdered"><br>
        <br>
        <br>
        <p><b>Cake Price</b></p>
        <p>${{cake.price}}</p>
        <br>
        <br>
        <button type="submit" >Build Cake!</button>
    </form>
</div>
        <!-- <button ng-click="deleteCake(cake.name)">Delete Cake</button> -->







    <!--                 <span>Question</span>
        <error-message ng-show="editCardForm.question.$touched && editCardForm.question.$error.required">
            Question is a required field.
        </error-message>
        <error-message ng-show="editCardForm.question.$error.minlength">
            Your question needs to be atleast 15 characters long.
        </error-message>
        <input ng-model="editedCard.question" type="text" ng-minlength="15" required name="question"><br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer1.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[0].text" required type="text" ng-maxlength="40" name="Answer1"><br>
        <input ng-model="editedCard.answers[0].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer2.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[1].text"  required ng-maxlength="40" type="text" name="Answer2"><br>
        <input ng-model="editedCard.answers[1].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer3.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[2].text"  required ng-maxlength="40" type="text" name="Answer3"><br>
        <input ng-model="editedCard.answers[2].correct" type="checkbox" value="Check">This the correct answer<br> -->